<div class="search">
  <input type="text" placeholder="Search City" [(ngModel)]="searchItem" (change)="withCity()">
  <button (click)="withCity()">Search</button>
</div>
<div class="container">
  <div class="main">
    <div class="upper">

      <div class="image">
        <div class="city">
          {{weather.location.name}}</div>
        <div class="header">{{weather.current.temp_c}} 	&#x2103;</div>
      </div>
    </div>
    <div class="lower">
      <div class="info">More Information....</div>

      <div class="more">
        <!-- <div class="morer1"> -->
          <div class="low">
            <div class="mini">
            <img src="../assets/temperature.png" alt="" height="10" class="img" />
            <div class="tag">min</div>
          </div>
            <span class="data"> {{weather.current.temp_c}} 	&#x2103;</span>
          </div>
          <div class="low">
            <div class="mini">
            <img src="../assets/hot.png" alt="" srcset="" height="10" class="img" />
            <div class="tag">max</div>
          </div>
            <span class="data"> {{weather.current.feelslike_c}} 	&#x2103;</span>
          </div>
        <!-- </div> -->
        <!-- <div class="morer2"> -->
          <div class="low">
            <div class="mini">
          <img src="../assets/humidity.png" alt="" srcset="" height="10" class="img">
          <div class="tag">humidity</div></div>
          <span class="data">{{weather.current.humidity }}% </span>
        </div>
        <div class="low"><div class="mini">
          <img src="../assets/wind.png" alt="" srcset="" height="10" class="img">
          <div class="tag">wind</div></div>
          <span class="data"> {{weather.current.wind_kph}} km/h</span>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
