.container
{

display:flex;
width:450px;
background-color: aliceblue;
height: 650px;
border-radius: 1rem;
justify-content: center;
margin-top: 2rem;
}
.upper{

  justify-content: center;
  height: 50%;

}
.image{
  height:100%;
width: 450px;
background-image: url('../assets/noaa-ZVhm6rEKEX8-unsplash.jpg');
background-position: center;
background-size: contain;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
display:flex ;

flex-direction: column;
justify-content: center;
align-items: center;
z-index: -10;
color: white;
opacity: 2;
font-size: xx-large;
font-family:Arial, Helvetica, sans-serif;
}
.image .header{
  z-index: 10;
}

.city{

}

.more{
  height:230px;
  justify-items: center;
  width:390px;
  background-color: brown;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.low{
  margin-right: 15px;
  margin-left: 15px;
display: flex;
text-align: center;
}

.mini{
display: flex;
flex-direction: column;
padding-right: 10px;
}

.lower{
background-color: turquoise;
height:330px;

justify-content: center;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
}

.img{
  height: 50px;
  border-radius: 100rem;

}

.info{

  padding: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.data{
  color:white;
  font-size: x-large;

}

.tag{
  color: white;
}

.search{
  display: flex;
  justify-content: center;
  height:30px;
  margin-top: 10px;
}
