<div class="container">
  <div class="main">
    <div class="upper">

      <div class="image">
        <div class="city">
          location_city</div><br>
        <div class="header">HEllo Indian</div>
      </div>
    </div>
    <div class="lower">
      <div class="info">More Information....</div>

      <div class="more">
        <div class="morer1">
          <div class="low">
            <img src="../assets/temperature.png" alt="" srcset="" class="img" />
            <div class="tag">min</div>
            <span class="data"> 20 *C</span>
          </div>
          <div class="high">
            <img src="../assets/hot.png" alt="" srcset="" class="img" />
            <div class="tag">max</div>
            <span class="data"> 20 *C</span>
          </div>
        </div>
        <div class="morer2">
          <div class="humidity">
          <img src="../assets/humidity.png" alt="" srcset="" class="img">
          <div class="tag">humidity</div>
          <span class="data"> 20 *C</span>
        </div>
        <div class="wind">
          <img src="../assets/wind.png" alt="" srcset="" class="img">
          <div class="tag">wind</div>
          <span class="data"> 20 *C</span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
