.container
{
display:flex;
width:450px;
background-color: aliceblue;
height: 650px;
border-radius: 1rem;
justify-content: center;
margin-top: 2rem;
box-shadow: 0 0 5px 5px rgba(0,176,255,1) ;

}

.upper{

  justify-content: center;
  height: 50%;

}
.image{
height:100%;
width: 450px;
background-image: url('../assets/img-1.avif');
background-position: center;
background-size: cover;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
display:flex ;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: -10;
color:rgb(82 9 3);
opacity: 1;
font-weight: bold;
font-size: xx-large;
font-family:Arial, Helvetica, sans-serif;
}
.image .header{
  z-index: 10;
}

.city{

}

.more{
  height:230px;
  justify-items: center;
  width:390px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;

}
.low{
  margin-right: 15px;
  margin-left: 15px;
display: flex;
text-align: center;
}

.mini{
display: flex;
flex-direction: column;
padding-right: 10px;
}

.lower{
background-color:#99d9ff6e;
height:330px;

justify-content: center;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
}

.img{
  height: 50px;
  border-radius: 100rem;

}

.info{

  padding: 20px;
  font-size: 25px;
  color: #522121;
  font-weight: bold;
}

.data{
  color:#4a1818;
  font-size: x-large;
  font-weight: bold;

}

.tag{
  color: #cd0000;
}

.search{
  display: flex;
  justify-content: center;
  height:40px;
  margin-top: 10px;
}


.search-button{
  background-color: rgb(143, 10, 10);
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.text-box{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  height: 38px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  text-align: justify ;
  padding-left: 15px;

}
